* {
  margin: 0;
  padding: 0;
  font-family: "Epilogue", sans-serif;
}

body {
  min-width: 100%;
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  color: dimgray;
  margin: 20px;
  line-height: 29px;
  font-size: 16px;
}

#mobile-nav {
  display: none;
}

#nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#nav-icons .snap-logo {
  margin: 25px 20px;
}

#nav-icons .close-menu-icon {
  margin: 25px 20px;
  display: none;
}

#nav-icons .open-menu-burger {
  margin: 25px 20px;
}

#nav-icons .close-menu-icon.open {
  display: block;
}

#nav-icons .open-menu-burger.close {
  display: none;
}

#dropdown-mobile-menu {
  background-color: #fafafa;
  height: 100vh;
  width: 65%;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
}

#dropdown-mobile-menu .arrow {
  margin: 0 15px;
}

#dropdown-mobile-menu #features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#dropdown-mobile-menu #features p {
  padding: 0 10px;
  color: dimgray;
}

#dropdown-mobile-menu #features .arrow-up {
  display: none;
}

#dropdown-mobile-menu #features .arrow-up.open {
  display: block;
}

#dropdown-mobile-menu #features .arrow-down.close {
  display: none;
}

#dropdown-mobile-menu .dropdown-features {
  overflow: hidden;
  top: 60px;
  left: 0;
  padding-left: 45px;
  display: none;
}

#dropdown-mobile-menu .dropdown-features.active {
  display: block;
}

#dropdown-mobile-menu a {
  text-decoration: none;
  color: dimgray;
}

#dropdown-mobile-menu .bottom-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 16px;
  margin-top: 30px;
}

#dropdown-mobile-menu .bottom-btns #login:hover {
  border: 1px solid dimgray;
  border-radius: 10px;
  padding: 10px;
}

#dropdown-mobile-menu .bottom-btns #register:hover {
  border: 1px solid dimgray;
  border-radius: 10px;
  padding: 10px;
}

li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
  color: dimgray;
  cursor: pointer;
}

li span {
  margin: 0 30px;
  color: dimgray;
}

main {
  position: relative;
}

main .hero-img {
  width: 100%;
  margin-bottom: 50px;
}

#company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#company .arrow-up-company {
  display: none;
}

#company .arrow-up-company.open {
  display: inline-block;
}

#company .arrow-down-company.close {
  display: none;
}

.dropdown-company {
  display: none;
  overflow: hidden;
  top: 120px;
  left: 0;
  padding-left: 45px;
}

.dropdown-company.active {
  display: block;
}

button {
  border-style: none;
  background-color: #fafafa;
  color: dimgray;
  font-size: 1em;
  margin: 10px 15px;
  cursor: pointer;
}

#learn-more-btn {
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 17px 25px;
  font-size: 15px;
  cursor: pointer;
}

#footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#footer-icons img {
  width: 18%;
}

div#footer-icons img:nth-of-type(2) {
  width: 13%;
}
/*# sourceMappingURL=style.css.map */