@import "./variables";

* {
    margin: 0;
    padding: 0;
    font-family: $font;
}

body {
    min-width: 100%;
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-align: center;
}
p {
    color: $medium-gray;
    margin: 20px;
    line-height: 29px;
    font-size: 16px;
}
#mobile-nav {
    display: none;
}
#nav-icons {
    display: flex;
    justify-content: space-between;

    .snap-logo {
    margin: 25px 20px;
    }
    .close-menu-icon {
        margin: 25px 20px;
        display: none;
    }
    .open-menu-burger {
        margin: 25px 20px;
    }
    .close-menu-icon.open {
        display: block;
    }
    .open-menu-burger.close {
        display: none;
    }
}

#dropdown-mobile-menu {
    background-color: $almost-white;
    height: 100vh;
    width: 65%;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;

    .arrow {
            margin: 0 15px;
        }

    #features {
    display: flex;
    align-items: center;
    position: relative;
   
    p {
        padding: 0 10px;
        color: $medium-gray;
    }
    .arrow-up {
        display: none;
    }
    .arrow-up.open {
        display: block;
    }
    .arrow-down.close {
        display: none;
    }
    }
    .dropdown-features {
    overflow: hidden;
    top: 60px;
    left: 0;
    padding-left: 45px;
    display: none;
    }
    .dropdown-features.active {
    display: block;
    }

    a {
    text-decoration: none;
    color: $medium-gray;
    // margin: 15px;
    }
    .bottom-btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        font-size: 16px;
        margin-top: 30px;

        #login:hover {
            border: 1px solid $medium-gray;
            border-radius: 10px;
            padding: 10px;
        }
        #register:hover {
                border: 1px solid $medium-gray;
                border-radius: 10px;
                padding: 10px;
            }
    }
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 15px;
    color: $medium-gray;
    cursor: pointer;
    span {
        margin: 0 30px;
        color: $medium-gray;
    }
}
main {
    position: relative;
    .hero-img {
        width: 100%;
        margin-bottom: 50px;
    }
}
#company {
    display: flex;
    align-items: center;
    .arrow-up-company {
            display: none;
        }
    
        .arrow-up-company.open {
            display: inline-block;
        }
    
        .arrow-down-company.close {
            display: none;
        }
}
.dropdown-company {
    display: none;
    overflow: hidden;
    top: 120px;
    left: 0;
    padding-left: 45px;
}
.dropdown-company.active {
    display: block;
}

button {
    border-style: none;
    background-color: $almost-white;
    color: $medium-gray;
    font-size: 1em;
    margin: 10px 15px;
    cursor: pointer;
}
#learn-more-btn {
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 17px 25px;
    font-size: 15px;
    cursor: pointer;
}
#footer-icons {
    display: flex;
    margin: 50px 0 100px;
    align-items: center;
    justify-content: space-evenly;
    img {
        width: 18%;
    }
    
}
div#footer-icons img:nth-of-type(2) {
    width: 13%;
}
